@font-face {
    font-family: 'Poppins Thin';
    src: url(Poppins-Thin.ttf)
}
@font-face {
    font-family: 'Poppins';
    src: url(Poppins-Medium.ttf)
}
@font-face {
    font-family: 'Poppins Semibold';
    src: url(Poppins-SemiBold.ttf)
}
@font-face {
    font-family: 'Poppins Bold';
    src: url(Poppins-Bold.ttf)
}
:root {
    --background: hsl(230, 30%, 96%);
    --light: hsl(0, 0%, 100%);
    --light2: hsl(227, 20%, 82%);
    --light3: hsl(226, 15%, 67%);
    --dark: hsl(230, 13%, 63%);
    --darkSaturated: hsl(230, 20%, 63%);
    --lightAlpha: hsla(0, 0%, 100%, 0.863);
    --lightAlpha2: hsla(0, 0%, 100%, 0.5);
    --lightAlpha3: hsla(0, 0%, 100%, 0.5);
    --darkAlpha: hsla(230, 15%, 63%, 0.9);
    --darkAlpha2: hsla(230, 15%, 63%, 0.5);
    --darkAlpha3: hsla(230, 15%, 63%, 0.3);
    --darkAlpha4: hsla(230, 15%, 63%, 0.01);

    --sonic: #496dff;
    --amy: #ff49b3;
    --rouge: #ce49ff;
    --shadow: #a5a7b2;
    --tails: #ffd749;
    --knuckles: #ff4967;
    --personalidades: #36b63b;

    --sonic2: #0a32d4;
    --amy2: #cc0a6b;
    --rouge2: #9000e4;
    --shadow2: #5e5f66;
    --tails2: #ffaa00;
    --knuckles2: #e0001d;
    --personalidades2: #066d0a;


    --sonicFont: #003cb4;
    --amyFont: #db389d;
    --rougeFont: #ce49ff;
    --shadowFont: #000000;
    --tailsFont: #ffd749;
    --knucklesFont: #ff4967;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    background: linear-gradient(to top, var(--darkAlpha3) 0%, var(--background) 50%, var(--background) 95%, var(--darkAlpha3) 100%);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    color: var(--darkSaturated);
    text-align: center;
}
#textoHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    text-align: center;
    margin-top: 3rem;
}
#headerHistoria {
    font-size: 3.5rem;
    font-family: 'Poppins Semibold', sans-serif;
    line-height: 3.5rem;
    color: var(--background);
    text-shadow: 4px 4px 4px var(--darkAlpha), -3px -3px 3px var(--lightAlpha);
    margin-top: 3rem;
}
#headerGrado {
    font-size: 1.3rem;
    margin-top: 0.8rem;
    font-family: 'Poppins Thin', sans-serif;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: var(--darkSaturated)
}
#unidades {
    margin-top: 2.5rem;
    margin-bottom: 0.6rem;
    font-size: 1.9rem;
}
nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 9rem;
}
a {
    font-size: 1.8rem;
    display: block;
    text-align: center;
    box-shadow: 0 7px 7px var(--darkAlpha), 0 0 16px var(--darkAlpha3);
    width: 90%;
    border-radius: 2rem;
    height: 3rem;
    line-height: 3rem;
    margin: 0.5rem auto;
    color: white;
    text-decoration: none;
    background-color: var(--darkAlpha4);
    transition: background-color 0.3s;
    max-width: 30rem;
}
a:hover {
    background-color: var(--lightAlpha3);
}
#personalidades {
    margin-top: 2.5rem;
    color: var(--light3);
}


#selectedAnchor1 {
    background: linear-gradient(to right, var(--sonic), var(--sonic2));
    box-shadow: 0 3px var(--light2), 0 7px 7px var(--darkAlpha), 0 0 16px var(--darkAlpha3);
}
#selectedAnchor2 {
    background: linear-gradient(to right, var(--amy), var(--amy2));
    box-shadow: 0 3px var(--light2), 0 7px 7px var(--darkAlpha), 0 0 16px var(--darkAlpha3);
}
#selectedAnchor3 {
    background: linear-gradient(to right, var(--rouge), var(--rouge2));
    box-shadow: 0 3px var(--light2), 0 7px 7px var(--darkAlpha), 0 0 16px var(--darkAlpha3);
}
#selectedAnchor4 {
    background: linear-gradient(to right, var(--shadow), var(--shadow2));
    box-shadow: 0 3px var(--light2), 0 7px 7px var(--darkAlpha), 0 0 16px var(--darkAlpha3);
}
#selectedAnchor5 {
    background: linear-gradient(to right, var(--tails), var(--tails2));
    box-shadow: 0 3px var(--light2), 0 7px 7px var(--darkAlpha), 0 0 16px var(--darkAlpha3);
}
#selectedAnchor6 {
    background: linear-gradient(to right, var(--knuckles), var(--knuckles2));
    box-shadow: 0 3px var(--light2), 0 7px 7px var(--darkAlpha), 0 0 16px var(--darkAlpha3);
}
#personalidadesA {
    margin-top: 2.5rem;
    color: white;
    background: linear-gradient(to right, var(--personalidades), var(--personalidades2));
    box-shadow: 0 3px var(--light2), 0 7px 7px var(--darkAlpha), 0 0 16px var(--darkAlpha3);
}



/* COMMON TEXT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


h2 {
    margin: 1rem;
    margin-top: 0.5rem;
    line-height: 3rem;
}
h3 {
    line-height: 2.4rem;
    box-shadow: 5px 5px 5px var(--darkAlpha2), -5px -5px 5px var(--lightAlpha);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    margin-top: 6.2rem;
    margin-bottom: 2rem;
}
.h3big {
    font-size: 2.5rem;
    line-height: 2.7rem;
}
.h4unidad {
    margin-bottom: 0.5rem;
    color: white;
    font-family: 'Poppins Thin', sans-serif;
    text-shadow: 0 0 20px var(--dark);
}
img {
    height: 10rem;
}
p {
    margin: 1.2rem;
    font-size: 1rem;
    text-align: justify;
    text-justify: auto;
}
.span1 {
    font-family: 'Poppins Bold', sans-serif;
    box-shadow: 3px 3px 3px var(--darkAlpha2), -3px -3px 3px var(--lightAlpha);
    border-radius: 0.8rem;
    padding: 0.2rem 0.6rem;
    display: inline-block;
}
.span2 {
    font-family: 'Poppins Semibold';
}
.spanList {
    color: var(--darkSaturated);
}
.spanUnderline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
ul {
    font-size: 1rem;
}
li {
    margin: 0.5rem;
    text-align: left;
    font-size: 1rem;
}
.borderDiv {
    margin-top: 2rem;
    border-radius: 3rem;
}
.noMarginHeader {
    margin: 2rem;
    margin-top: 1rem;
}


/* FONT COLORS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.sonic {
    color: var(--sonicFont);
}
.sonicDashed {
    border: 4px dashed var(--sonicFont);
}
.sonicDouble {
    border: 6px double var(--sonicFont);
}
.sonicDotted {
    border: 4px dotted var(--sonicFont);
}
.sonicSolid {
    border: 3px solid var(--sonicFont);
}
.sonicUnderline {
    text-decoration-color: var(--sonicFont);
}

.amy {
    color: var(--amyFont);
}
.amyDashed {
    border: 4px dashed var(--amyFont);
}
.amyDouble {
    border: 6px double var(--amyFont);
}
.amyDotted {
    border: 4px dotted var(--amyFont);
}
.amySolid {
    border: 3px solid var(--amyFont);
}
.amyUnderline {
    text-decoration-color: var(--amyFont);
}

.rouge {
    color: var(--rougeFont);
}
.rougeDashed {
    border: 4px dashed var(--rougeFont);
}
.rougeDouble {
    border: 6px double var(--rougeFont);
}
.rougeDotted {
    border: 4px dotted var(--rougeFont);
}
.rougeSolid {
    border: 3px solid var(--rougeFont);
}
.rougeUnderline {
    text-decoration-color: var(--rougeFont);
}

.shadow {
    color: var(--shadowFont);
}
.shadowDashed {
    border: 4px dashed var(--shadowFont);
}
.shadowDouble {
    border: 6px double var(--shadowFont);
}
.shadowDotted {
    border: 4px dotted var(--shadowFont);
}
.shadowSolid {
    border: 3px solid var(--shadowFont);
}
.shadowUnderline {
    text-decoration-color: var(--shadowFont);
}

.tails {
    color: var(--tailsFont);
}
.tailsDashed {
    border: 4px dashed var(--tailsFont);
}
.tailsDouble {
    border: 6px double var(--tailsFont);
}
.tailsDotted {
    border: 4px dotted var(--tailsFont);
}
.tailsSolid {
    border: 3px solid var(--tailsFont);
}
.tailsUnderline {
    text-decoration-color: var(--tailsFont);
}

.knuckles {
    color: var(--knucklesFont);
}
.knucklesDashed {
    border: 4px dashed var(--knucklesFont);
}
.knucklesDouble {
    border: 6px double var(--knucklesFont);
}
.knucklesDotted {
    border: 4px dotted var(--knucklesFont);
}
.knucklesSolid {
    border: 3px solid var(--knucklesFont);
}
.knucklesUnderline {
    text-decoration-color: var(--knucklesFont);
}